@import url(http://fonts.googleapis.com/css?family=Raleway:400,700);

body {
  background: #3b3f45;
  color: #fff;
  font-weight: 400;
  font-size: 1em;
  font-family: 'Raleway', Arial, sans-serif;
  overflow: hidden;
  overflow-y: scroll;
  min-height: 590px;
}

.label {
  font-family: Raleway, Arial, sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.error {
  color: rgb(235, 126, 127);
  font-family: Raleway, Arial, sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.fs-show {
  -webkit-animation: animFadeIn 0.5s;
  animation: animFadeIn 0.5s;
}

@-webkit-keyframes animFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animFadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

input.fancy:focus,
button.fancy:focus {
  outline: none;
}

input.fancy {
  height: auto;
  margin: 0;
  padding: 0 0 0.15em;
  width: 100%;
  border: none;
  border-bottom: 2px solid rgba(0,0,0,0.2);
  background-color: transparent;
  color: #fffed8;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 60px;
  border-radius: 0;
}

input.fancy:invalid {
  box-shadow: none; /* removes red shadow in FF*/
}

input.fancy [required] {
  background-image: url(/images/abacusstar.svg);
  background-position: top right;
  background-size: 18px;
  background-repeat: no-repeat;
}

input.fancy:focus {
  background-color: #3b3f45; /* Fixes chrome bug with placeholder */
}
