<div id="name-block" class="flex-grow flex flex-center m0 p0 border border-blue">
  <h3 class="flex-grow">Full Name <small>(@username)</small></h3>

  <div class="m0 p0 border border-blue">
    <h4>Call Controls</h4>
  </div>
</div>
