<div class="row center-xs viewer">
  <div class="col-xs">Remote</div>
</div>
<div class="row end-xs drawer">
  <div class="col-xs-2">Remote</div>
  <div class="col-xs-2">Local</div>
  <div class="col-xs-2">Local</div>
</div>
