<form class="flex-auto flex flex-column m0 p1" style="min-height: 100vh;" {{action "loginToChat" on="submit"}}>
  <div class="mt4 ml4">
    <h4>PeakChat</h4>
  </div>
  <div class="flex-auto flex flex-center">
    <div class="flex-grow"></div>
    <div class="m0 p0 col-xs-8">
      <ol class="list-unstyled m2 flex">
        <li class="m1 flex flex-column flex-auto">
          <label for="username">What is your name?</label>
          {{input class="form-control input-lg" type="text" placeholder="Johnny Appleseed" required="required" value=model.name}}
          <span class="flex-first mb4 help-block">Please fill the field before continuing</span>
        </li>
      </ol>
    </div>
    <div class="flex-grow"></div>
  </div>
  <div class="mb4 mr4 text-right">
    <button class="btn btn-large btn-primary" type="submit">Login</button>
  </div>
</form>
