<form class="flex flex-column" style="min-height: 96vh;" {{action "loginToChat" on="submit"}}>
  <h1 class="m0" style="padding: 40px;">PeakChat</h1>
  <div class="m0 flex-auto" style="padding: 120px;">
    <ol class="list-reset flex">
      <li class="m1 flex flex-column flex-auto">
        <label class="label m1 mt4 mb3" for="username">What is your name?</label>
        {{input class="fancy m1 mt4 mb3" type="text" placeholder="Johnny Appleseed" required="required" value=model.name}}
        <label class="flex-first error m1 mt4 mb3" for="username">Please fill the field before continuing</label>
      </li>
    </ol>
  </div>
  <div class="m0 px4 flex flex-end">
    <div class="flex-auto"></div>
    <button class="flex-none" style="padding: 12px 30px;" type="submit">Login</button>
  </div>
</form>
